.all-parks-closed {
  margin-top: 200px; }

.dashboard-body {
  display: -ms-flexbox;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 850px;
  margin: auto; }

.parks-list {
  margin-top: 40px; }
