.Header {
    background:  #C22532;
    height:  100px;
    display:  flex;
    justify-content:  center;
}

.mickeyImage {
    height: 83px;
    width: 133px;
    background-size: contain;
    margin: 9px;
    background-position: center;
    background-repeat: no-repeat;
}

