.OpenClose{
    display: flex;
    justify-content: space-between;
    background: rgba(0, 0 ,0, .8);
    color: #F2F2EA;
    padding: 5px;
    div{
        width: 50%;
    }
    .close{
        border-left: solid 1px #C22532;
    }
}